.main {
    --flex-gap: 0;
    max-width: 1100px;
    min-height: 100vh;
    margin-inline: auto;
    padding-block: 90px;
  }
  
  .productDetail {
    flex: 1;
    padding: 65px 45px 65px 62.5px;
  }